.form{
/* background: #000; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  height: 70vh;  
}

.input-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form input{
  background: transparent;
  outline: none;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background: rgba(35, 118, 226, 0.863);
}
