.home{
  display: flex;

}
.homecontainer{
  flex: 9;
}



.home-card{
display: flex;
justify-content: space-evenly;
align-items: center;
}

.home-accaunt-card{
  background: rgba(206, 233, 157, 0.568);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 4px 4px 4px 4px;
}

.home-accaunt-card:hover{
  
}