.sidebar{
  flex: 2;
  height: 100vh;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14vh;
  color: rgb(9, 121, 121);
  font-size: 28px;
  font-family: 'Monoton', cursive;
  border-color: black !important;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-bottom-right-radius: 10px;
  
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid; */
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 72vh;
}

.bottom{
  display: flex;
  height: 14vh;
  align-items: center;
  justify-content: center;
  /* border-top: 1px solid; */
  border-right: 1px solid;
  /* border-bottom: 1px solid; */
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;

}

.light{
margin-right: 25px;
cursor: pointer;
}

.light:hover{
  color: lightyellow;
  text-shadow: lightgray !important;
}

.dark{
  color: rgb(23, 24, 24);
  cursor: pointer;

  }



.center ul li{
 padding-top: 10px;
 font-size: 20px;
 letter-spacing: 1px;
 text-transform: uppercase;
}